header {
  height: 100vh;
  padding-top: 8rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
.header__text {
  margin-top: 5vh;
}
/*==== CTA ====*/
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*==== HEADER SOCIALS  ====*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--celadon-blue);
}

/*==== HEADER SOCIALS  ====*/
.me {
  background: linear-gradient(var(--celadon-blue), transparent);
  width: 19rem;
  height: 19rem;
  position: absolute;
  bottom: 0;
  left: calc(50% - 9.5rem);
  border-radius: 14rem 14rem 0 0;
  overflow: hidden;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

/*==== ME ====*/
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/*==== MEDIA QUERIES (MEDIUM DEVICES) ====*/
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
    /* padding-top: 3rem; */
  }
  .me {
    width: 18rem;
    height: 18rem;
    position: absolute;
    bottom: 0;
    left: calc(50% - 9rem);
    padding: 2.1rem 1.125rem 1.125rem 1.125rem;
  }
}
/*==== MEDIA QUERIES (SMALL DEVICES) ====*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    /* padding-top: 3rem; */
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
  .header__text {
    margin-top: 0;
  }
  .me {
    /* width: 17rem;
    height: 17rem; */
    position: absolute;
    bottom: 0;
    /* left: calc(50% - 40vw); */
    padding: 2.3rem 1.125rem 1.125rem 1.125rem;
  }
}

/* ========== dropdown lang =====================*/
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  transition: display 2s;
  padding: 2rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 4rem;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: display 2s;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
