header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
.header__text {
  margin-top: 5vh;
}
/*==== CTA ====*/
.cta {
  margin-top: 1rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*==== HEADER SOCIALS  ====*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--celadon-blue);
}

/*==== HEADER SOCIALS  ====*/
.me {
  background: linear-gradient(var(--celadon-blue), transparent);
  width: 19rem;
  height: 19rem;
  position: absolute;
  bottom: 0;
  left: calc(50% - 9.5rem);
  border-radius: 14rem 14rem 0 0;
  overflow: hidden;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

/*==== ME ====*/
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/*==== MEDIA QUERIES (MEDIUM DEVICES) ====*/
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
    /* padding-top: 3rem; */
  }
  .me {
    width: 18rem;
    height: 18rem;
    position: absolute;
    bottom: 0;
    left: calc(50% - 9rem);
    padding: 2.1rem 1.125rem 1.125rem 1.125rem;
  }
}
/*==== MEDIA QUERIES (SMALL DEVICES) ====*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    /* padding-top: 3rem; */
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
  .header__text {
    margin-top: 0;
  }
  .me {
    /* width: 17rem;
    height: 17rem; */
    position: absolute;
    bottom: 0;
    /* left: calc(50% - 40vw); */
    padding: 2.3rem 1.125rem 1.125rem 1.125rem;
  }
}

.header__lang{
  padding-top: 1.5rem;
}

.header__lang a{
  margin: .5rem;
}